html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    transition: opacity 0.5s ease-in-out;
}

main {
    font-family: "Indie Flower", cursive, sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/images/fond_du_site.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20em 3em 3em 3em;
}

h1{
    text-decoration: underline;
    margin-bottom: 2em;
}


.container .images{
    width: 9em;
}

.bouton{
    background-color: #5A86A1;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px;
    font-size: 1em;
    cursor: pointer;
}

.bouton2{
    background-color: #FFE893;
    color: #000;
    text-decoration: none;
    border: 2px solid #5A86A1;
    border-radius: 15px;
    padding: 6px;
    font-size: 1em;
    cursor: pointer;
}

.bouton3 {
    background-color: #d4edfd;
    text-decoration: none;
    color: #000000;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px;
    font-size: 1em;
    cursor: pointer;
}

.btn-danger {
    color: #000000 !important;
    border: 2px solid #000000 !important;
    border-radius: 15px !important;
    background-color: #dc354563 !important;

}
.container a:hover{
  color: #000;
}

.form-admin {
    display: flex; 
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    width: 300px;
}

.admin-dashboard table,
.admin-dashboard .list-group {
  background-color: #fff;        
  border-radius: 0.5em;         
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  overflow: hidden;              
}

.admin-dashboard table th,
.admin-dashboard table td {
  background-color: #fff;        
}

.admin-dashboard .list-group-item {
  background-color: #fff;
  border: none;                 
  border-bottom: 1px solid #eee; 
}

.admin-dashboard .admin-card {
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  overflow: hidden;
}

.admin-dashboard .list-group-item {
  background: #fff;
  border: none;
  border-bottom: 1px solid #eee;
}

.text-end{
  gap: 10px;
}

.card-body .bouton{
    background-color: #5A86A1;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px;
    font-size: 1em;
    cursor: pointer;
}

.card{
    border: 1px solid black !important;
}