html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
    transition: opacity 0.5s ease-in-out;
}

main {
    font-family: "Indie Flower", cursive, sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/images/fond_du_site.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20em 3em 3em 3em;
}

.container-sujet {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em auto;
}

.colonne-container-sujet {
    display: flex; 
    flex-direction: column;
    flex: 1; 
    height: 100%; 
    margin-bottom: 20px;
}

.premier-bloc-sujet, .deuxieme-bloc-sujet, .troisieme-bloc-sujet {
    width: 100%;
    background-color: #F5E8E3; 
    border: 2px solid #AED3EA; 
    display: flex; 
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    flex: 1; 
    padding: 10px;
}

.premier-bloc-sujet{
    position: relative;
}

.troisieme-bloc-sujet{
    position: relative;
    order: 3;
}
.comment-item {
    list-style: none;
    margin-bottom: 1em;
    border-bottom: 3px solid #AED3EA;
}


.comment-item:nth-child(even) {
    background-color: #e8d9d3; 
}

.comment-item .Auteur{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    color: #5A86A1;
}
.comment-item .date{
    color: #AED3EA;
}
.comment-item .date p{
    display: inline-block; 
    padding: 2px 5px; 
    border: 1px solid #AED3EA; 
    border-radius: 5px; 
    background-color: #FFE893; 
    color: black; 
    font-size: 14px; 
    font-weight: bold; 
}

#comment-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#comment-input{
    width: 80%;
}
.frozen{
    position: absolute;
    width: 8em;
    right: -3em;
    bottom: -2em;
}

a .bouton-forum {
    position: absolute;
    right: 4em;
    top: 22em;
    margin: 0 auto;
    background-color: #5A86A1;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
    font-size: 1em;
    cursor: pointer !important;
    width: 12em;
    z-index: 999;
}

.bouton2 {
    margin: 0 auto;
    background-color: #5A86A1;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    width: 7em;
}

/* Styles communs */
.categorie {
    background-color: rgb(0 0 0 / 14%);
    text-shadow: 1px 1px black;
    width: fit-content;
    padding: 5px;
    border-radius: 1em;
}

/* Couleurs spécifiques */
.categorie-1 { color: #AED3EA !important; }
.categorie-2 { color: #FFE893 !important; }
.categorie-3 { color: #DCB5A6 !important; }
.categorie-4 { color: #4B7792 !important; }
.categorie-5 { color: #BA9D36 !important; }

@media screen and (max-width: 1204px){
    .container-forum {
        flex-direction: column;
        padding: 1em;
    }
        .container-sujet h2{
        width: 76% !important;
    }
}

@media screen and (max-width: 990px) {
    .container-forum {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    .troisieme-bloc-sujet{
        order: -1;
        margin-bottom: 1em;
    }

    .frozen{
        width: 6em;
        top: -1em;
        right: -1em;
    }

    a .bouton-forum{
        right: 4em;
        top: 50% !important;
    }

    .container-sujet h2{
        width: 66% !important;
    }

    .comment-item .Auteur {
        font-size: 1.2em;
    }
    .bouton-forum{
        right: 4em;
        top: 50%;
    }
}

@media screen and (max-width: 740px) {

    .container-sujet h2{
        width: 60% !important;
    }
        a .bouton-forum{
        right: 4em;
        top: 50% !important;
    }
}
@media screen and (max-width: 712px) {

    a .bouton-forum{
        right: 4em;
        top: 50% !important;
    }
}