* {
    margin: 0;
    padding: 0;
    font-family: 'Ribeye', sans-serif;
}
header {
    position: relative; 
    z-index: 1000; 
}
.logo {
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 5px;
}

.logo:hover {
    border: 2px solid #FFE893;
    border-radius: 15px;
    padding: 5px;
}


nav ul a {
    color: black;
    text-transform: uppercase;
}


nav ul a.active {
    background-color: #FFE893;
    color: black;
    border: 2px solid #5A86A1;
    border-radius: 15px;
    padding: 5px;
}
nav {
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #AED3EA;
    border-bottom: 2px dashed black;
    display: flex;
    justify-content: space-around;
    white-space: wrap;
    align-items: center;
    padding: 10px;
}

/* Styles de la liste */
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    white-space: wrap;
    gap: 1em;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 5px;
}

nav ul a:hover {
    background-color: #FFE893;
    text-decoration: underline;
    color: black;
    border: 2px solid #5A86A1;
    border-radius: 15px;
    padding: 5px;
}

#icon {
    cursor: pointer;
    display: none;
    font-size: 4em;
}

/* Zone footer */
footer {
    background-color: #5A86A1;
    border-top: 2px dashed black;
}

/* Rendre le menu responsive avec Media Queries */
@media screen and (max-width: 1204px) {
    #icon {
        display: block;
    }
    #icon:before {
        content: "\2630";
        transition: opacity 0.6s ease-in-out;
    }
    .active #icon:before {
        content: "\2715";
    }
    nav ul {
        position: fixed;
        top: 16em;
        left: -100%;
        flex-direction: column;
        background-color: #427892;
        border: 2px dashed black;
        width: 100%;
        text-align: center;
        transition: left 0.6s ease-in-out;
        z-index: 999;
        gap: 2em;
    }
    nav li {
        padding: 3px 0;
        font-size: clamp(1rem, 3vw, 1.4rem); /* Texte du menu adapté aux petits écrans */
    }
    nav ul li:hover {
        background-color: #FFE893;
    }
    nav.active ul {
        left: 0;
    }
}