security:
    role_hierarchy:
        ROLE_ADMIN: [ROLE_USER] # Les administrateurs héritent des privilèges des utilisateurs standard
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username 

    # Firewall configuration
    firewalls:
        dev: 
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login       
                check_path: app_login_check  
                enable_csrf: true             
                csrf_token_id: authenticate   
                username_parameter: _username   
                password_parameter: _password  
                default_target_path: home 
            logout:
                path: app_logout
                target: app_login

    access_control:
        - { path: ^/, roles: PUBLIC_ACCESS }
        - { path: ^/reset-password, roles: PUBLIC_ACCESS }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/profil, roles: ROLE_USER }
        - { path: ^/forum, roles: ROLE_USER }        

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 
                time_cost:
                memory_cost: 10 
