{% block body %}
        <h1>Bonjour {{ user.firstName|default('utilisateur') }} !</h1>
        <br>
        <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
        <br>
        <a href="{{ url('reset-password_app_reset_password', {token: resetToken.token}) }}">
            Réinitialiser mon mot de passe
        </a>
        <br>
        <br>
        <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
        <br>
        <br>
        <p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail.</p>
        <br>
        <br>
        <p>Cordialement,<br>L'équipe de Fan de Lore</p>
{% endblock %}