{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('styles/javascript/login.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('styles/css/profil.css') }}?v=1.0">
{% endblock %}

{% block body %}

    <h1>Mon profil !</h1>
       <div class='container-profil'>
            <div class='premier-bloc-profil'>
                <h2>Mes informations :</h2>

            </div>
            <div class='colonne-container-profil'>
                <div class='deuxieme-bloc-profil' id="create-subject">
                    <h2>Mes favoris :</h2>
                </div>
                <div class='troisieme-bloc-profil'>
                        <h2>Mes activités :</h2>
    
                </div>
            </div>
        </div>
        </div>

{% endblock %}